{% extends 'authbase.html' %}
{% load static %}
{% block title %}MarketSphere - Password Updated{% endblock %}
{% block css %}
  <link rel="stylesheet" href="{% static 'login.css' %}" />
{% endblock %}
{% block content %}
<div class="container">
    <div class="row justify-content-center py-5">
        <div class="col-md-5 col-lg-4">
            <div class="card">
                <div class="card-header">
                    <h3>Password updated</h3>
                    <p>Your account is ready to use again.</p>
                </div>
                <div class="card-body pt-4 guest-buttons">
                    <p class="mb-3">
                        Your password has been changed successfully.
                    </p>
                    <a href="{% url 'login' %}" class="btn ">Go to login</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
